<div class="ui grid inverted menu navigation">

  <div class="ui secondary pointing menu column twelve wide">

    <a class="item" routerLink="/home" routerLinkActive="active">
      <img class="logo" src="resources/static/pic/lol-logo.png" />
    </a>

    <a class="item" routerLink="/home" routerLinkActive="active">
      Home
    </a>

    <a class="item" routerLink="/my-album" routerLinkActive="active">
      My Album
    </a>

  </div>

  <div class="right menu">
    <a class="item" routerLink="/register" routerLinkActive="active">
      Register
    </a>

    <a class="item" routerLink="" routerLinkActive="active">
      Login
    </a>

  </div>

</div>
